.footer {
	/* position: fixed; */
	/* left: 0;
	bottom: 0;
	height: 60px;
	width: 100%; */
}

.footer-color {
	background: #3498db;
}

.footer-icon-color {
	color: #2c3e50;
}
.footer-icon-color:hover {
	color: #e74c3c;
}
